<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" parallel="classes" thread-count="2">
  <test name="ParalelTests">
    <classes>
      <class name="com.pipeline.testcases.FirefoxTestCases"/>
      <class name="com.pipeline.testcases.ChromeTestCases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->